:root {

    --ms-height-head: 80px;
    --ms-width-side: 80px;

}

@media screen and (min-width: 992px) {

    :root {
        --ms-width-side: 160px;
    }
    
}

.ms-menu {
    background-color: blue;
}



img {
    max-width: 100%;
}

.no-s-t-border{
    border-top: none;
    border-left: none;
    border-right: none;

}

/* LAYOUT */

.wrapper {
    width: 100%;
    height: 100vh;
    
}

/* /LAYOUT */


header {
    width: 100%;
    height: 80px;

    /* debug */
    background-color: orange;
    border: 1px solid black;
}

 .logo {
    
    height: calc( var(--ms-height-head) - 10px);
    
}  

main {
    height: calc(100% - var(--ms-height-head));
    width: 100%;
    display: flex;
    
    
} 


.col-left {
    width: var(--ms-width-side);
   
    
    
    /* debug */
    border: 1px solid black;
    background-color: blue;

}


.col-right {
    width: calc(100% - var(--ms-width-side));

    /* debug */
    border: 1px solid black;
    background-color: lightsalmon;
}


.class-avatar {
    height: 20px;
}
