:root {

    --ms-height-head: 80px;
    --ms-width-side: 80px;

    --bg--primary: #1B72E8;
    --class--icon:#F26551;
    --card--primary: #F7F7F7;
    --section-primary: #F8F9FA;
    --left-section-bg: #051E34;

}

@media screen and (min-width: 992px) {

    :root {
        --ms-width-side: 160px;
    }
    
}

.section-bg {
    background-color: var(--section-primary);
}

.card-bg {
    background-color: var(--card--primary);
}

.ms-menu {
    background-color: var(--bg--primary);
}



img {
    max-width: 100%;
}

.no-s-t-border{
    border-top: none;
    border-left: none;
    border-right: none;

}

/* LAYOUT */

.wrapper {
    width: 100%;
    height: 100vh;
    
}

/* /LAYOUT */


header {
    width: 100%;
    height: 80px;

    /* debug */
    background-color: orange;
    border: 1px solid black;
}

 .logo {
    
    height: calc( var(--ms-height-head) - 10px);
    
}  

main {
    height: calc(100% - var(--ms-height-head));
    width: 100%;
    display: flex;
    
    
} 


.col-left {
    width: var(--ms-width-side);
   
    
    
    /* debug */
    border: 1px solid black;
    background-image:url(../img/sidebar-bg.png);

}

.col-left a, i {
    color: white;
}

.left-section-bg {
    background-color: var(--left-section-bg);
}


.col-right {
    width: calc(100% - var(--ms-width-side));

    
    
}


.class-avatar {
    height: 20px;
}

.col-right  i {
    color: gray;
}